<ion-content class="ion-padding">
  <div class="back ion-margin-bottom">
    <button class="back__button ion-margin-bottom" (click)="navCtrl.back()">
      <ion-icon name="chevron-back"></ion-icon>
    </button>
    <p>Plastico</p>
    <h1>Botella</h1>
  </div>
  <ion-card class="bottle">
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <!-- <div class="bottle__icon bottle__icon--yellow">
            <ion-icon name="wine-outline"></ion-icon>
          </div> -->
          <div class="bottle__logo">
            <span></span>
            <img src="../../../assets/img/botella.png" alt="">
          </div>
        </ion-col>
        <ion-col size="9">
          <div class="bottle__description">
            <h3>
              Botella
              <ng-container *ngIf="content == 1">Bote Amarillo</ng-container>
              <ng-container *ngIf="content == 2">Bote Azul</ng-container>
              <ng-container *ngIf="content == 3">Bote Verde</ng-container>
            </h3>
            <p>Bote Amarillo</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <div class="buttons">
    <span class="buttons__item">
      <input type="radio" id="information" name="information" checked>
      <label  class="buttons__custom active" (click)="state(1)" for="information">Información</label>
    </span>
    <span class="buttons__item">
      <input type="radio" id="articulos" name="information">
      <label class="buttons__custom active" (click)="state(0)" for="articulos">Ideas</label>
    </span>
    <!-- <button class="buttons__custom active" (click)="state(1)">Información</button>
    <button class="buttons__custom" (click)="state(0)">Articulos</button> -->
  </div>
  <ng-container *ngIf="informacion">
    <div class="animate__animated animate__fadeIn">
      <div class="information">
        <h1 class="information__h1">Información</h1>
        <p>Las botellas de plástico están hechas de petróleo: se necesitan 100 ml. de petróleo para producir una sola botella de plástico.</p>
      </div>
      <div class="information">
        <h1 class="information__h1">¿Sabias que?</h1>
        <p>Una botella de plástico tarda cientos de años en descomponerse y hacen falta unos 100 millones de litros de petróleo para fabricar mil millones de botellas.</p>
      </div>
      <ion-card class="bottle--yellow ion-margin-top">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <div class="bottle__icon bottle--yellow-strong">
                <ion-icon name="trash"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="10">
              <div class="bottle__description">
                <h3>Bote Amarrilo</h3>
                <p>Tira la botella en un bote amarillo</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    
  </ng-container>
  <ng-container *ngIf="!informacion">
    <div class="animate__animated animate__fadeIn">
    <div class="information">
      <h1>Ideas</h1>
    </div>
    <ion-grid class="">
      <ion-row>
        <ion-col size="6" class="extra">
          <ion-card class="extra__slides__product">
            <div class="extra__slides__product__img">
              <img src="../../../assets/img/maceta.png" alt="">
            </div>
            <div class="extra__slides__product__subtitle">
              <p>Botella</p>
              <h2>Maceta</h2>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="extra">
          <ion-card class="extra__slides__product">
            <div class="extra__slides__product__img">
              <img src="../../../assets/img/Lapicera.png" alt="">
            </div>
            <div class="extra__slides__product__subtitle">
              <p>Botella</p>
              <h2>Lapicera</h2>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="extra">
          <ion-card class="extra__slides__product">
            <div class="extra__slides__product__img">
              <img src="../../../assets/img/monedero.png" alt="">
            </div>
            <div class="extra__slides__product__subtitle">
              <p>Botella</p>
              <h2>Cartera</h2>
            </div>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- <ion-card class="bottle ion-margin-bottom">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <div class="bottle__icon bottle__icon--yellow">
              <ion-icon name="wine-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="10">
            <div class="bottle__description">
              <h3>
                Lapicera
              </h3>
              <p>Videos e imagenes</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card class="bottle ion-margin-bottom">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <div class="bottle__icon bottle__icon--yellow">
              <ion-icon name="wine-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="10">
            <div class="bottle__description">
              <h3>
                Maceta
              </h3>
              <p>Videos</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    <ion-card class="bottle ion-margin-bottom" (click)="openVideo()">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <div class="bottle__icon bottle__icon--yellow">
              <ion-icon name="wine-outline"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="10">
            <div class="bottle__description">
              <h3>
                Bote de basura
              </h3>
              <p>Videos e imagenes</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card> -->
  </div>
  </ng-container>
</ion-content>
