p, h3{
    margin: 0;
}

ion-card{
    border-radius: 1em;
}

input[type="radio"]{

}

.no{
    box-shadow: none;
}

@mixin doanddont($first, $second){
    background-color: $first;
    box-shadow: none;

    @media(prefers-color-scheme: dark){
        background-color: #222;
    }
    .bottle{
        &__icon{
            background-color: $second !important;
            color: #000 !important;
        }
    }
}

.back{
    &__button{
        height: 35px;
        width: 35px;
        background: none;
        border-radius: 50%;
        font-size: 24px;

        &:active{
            background-color: #eaeaea;
        }
    }
}

.bottle{
    background-color: #fbfbfb;
    padding: 0;
    
    &--yellow{
        box-shadow: none;
        background-color: #FCFFD1;
    }

    &--yellow-strong{
        background-color: var(--ion-color-yellow);
    }

    &--blue-strong{
        background-color: var(--ion-color-blue);
    }

    &--green-strong{
        background-color: var(--ion-color-green);
    }

    &--blue{
        background-color: #D1F6FF;
    }

    &--green{
        background-color: #D1FFD9;
    }

    @media(prefers-color-scheme: dark){
        background-color: #222;
    }

    box-shadow: none;

    &--do{
        @include doanddont(#D1FFD1, #56EF56);
    }

    &--dont{
        @include doanddont(#FFD1D1, #EF5656);
    }

    &__logo{
        background-color: #FFF;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        padding: 8px; 
        border: 1px solid #8b8b8b;
        position: relative;

        .yellow{
            background-color: var(--ion-color-yellow);
        }

        .blue{
            background-color: var(--ion-color-blue);
        }

        .green{
            background-color: var(--ion-color-green);
        }
        span{
            display: block;
            position: absolute;
            right: -10px;
            top: 0;
            width: 25px;
            height: 25px;
            border-radius: 50%;

        }

        img{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 40px;
            height: 40px;
        }
    }

    &__icon{

        &--blue{
            background-color: var(--ion-color-blue);
        }

        &--yellow{
            background-color: var(--ion-color-yellow);
        }

        &--green{
            background-color: var(--ion-color-green);
        }

        width: 40px;
        height: 40px;
        border-radius: .5em;
        display: flex;
        align-items: center;
        justify-content: center;

        ion-icon{
            font-size: 24px;
            color: #FFF; 
        }
    }
    &__description{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 8px;
        p{
            font-weight: 200;
        }
    }
}

.buttons{
    margin-top: 24px;
    display: flex;

    &__item{
        position: relative;

        input[type="radio"]{
            position: absolute;
            z-index: 1;
            top: -500px;
            left: -500px;
            opacity: 0;

            &:checked + label{
                background-color: #e2e2e2;
            }
        }

        label{
            font-size: 12px;
            z-index: 999;
        }
    }
    &__custom{ 
        padding: 5px 20px;
        border-radius: 1em;
        margin-right:16px;
        background-color: #F2f2f2;
        @media(prefers-color-scheme: dark){
            background-color: #222;
            color: #FFF;
        }
    }
}

.information{
    margin: 36px 0 16px 0;
    p{
        margin: 16px 0;
        font-size: 14px;
        font-weight: 300;
        color: #8B8B8B;
    }
}

%size{
    min-height: 185px;
    display: flex !important;
    align-items: center !important;
    // justify-content: center !important;
    flex-direction: column;
}

.extra{
    &__slides{
        &__product{
            padding: 16px;
            position: relative;
            @extend %size;

            .yellow{
                background-color: var(--ion-color-yellow);
            }

            .blue{
                background-color: var(--ion-color-blue);
            }

            .green{
                background-color: var(--ion-color-green);
            }
 
            &__circle{
                z-index: 2;
                position: absolute;
                display: inline-block;
                top: 16px;
                right: 16px;
                width: 30px;
                height: 30px;
                border-radius: 50%;
                
                

                span{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 12px;
                    color: #FFF;
                }
            }
            &__img{
                position: relative;
                height: 100px;
                width: 100%;
                text-align: center;
                img{
                    max-height: 100%;
                }
            }
            &__subtitle{
                width: 100%;
                display: block;
                padding: 16px 0 0 0;
                position: relative;
                p{
                    text-align: left;
                    margin: 0;
                }
                h2{
                    text-align: left;
                    font-weight: bold;
                    margin: 0;
                }
            }
        }
    }
}