<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar> 
</ion-header>
<ion-content>
  <div class="reciclate">
    <h1 class="reciclate__h1 ion-margin-start ion-margin-top">Reciclar</h1>
    <ion-slides pager="false" [options]="slide">

      <ion-slide >
        <label for="d">
          <input type="radio" (click)="active(0)" name="type" id="d" checked>
          <ion-card class="reciclate__card animate__animated animate__fadeIn">
              <div class="reciclate__card__inner">
                <div class="reciclate__card__item">
                  Todos
                </div>
              </div>   
          </ion-card>
        </label>
      </ion-slide>

      <ion-slide *ngFor="let i of Types">
        <label [for]="i.nombre">
          <input type="radio" (click)="active(i.id)" name="type" [id]="i.nombre">
          <ion-card class="reciclate__card animate__animated animate__fadeIn">
              <div class="reciclate__card__inner">
                <img src="{{url}}/icons/{{i.img}}" alt="">
                <div class="reciclate__card__item">
                  {{ i.nombre }}
                </div>
              </div>    
          </ion-card>
        </label>
      </ion-slide>
     
      <ng-container *ngIf="Types.length == 0">
        <ion-slide *ngFor="let i of [1,1,1]">
          <ion-skeleton-text style="width: 75px" animated></ion-skeleton-text>
        </ion-slide>
      </ng-container>

    </ion-slides>

    <ng-container *ngIf="Products.length == 0">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col size="6" class="extra" *ngFor="let i of [1,1,1,1,1]">
            <ion-skeleton-text animated style="width: 100%; height: 153px;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    <ng-container *ngIf="Products">
      <ion-grid class="ion-padding">
        <ion-row>
          <ng-container  *ngFor="let i of Products">
          <ion-col size="6" class="extra" *ngIf="i.Id_Tipo == id || id == 0">
            <ion-card class="extra__slides__product animate__animated animate__fadeIn" [routerLink]="['/product', i.id]">
              <div class="extra__slides__product__circle" [ngClass]="{
                'yellow': i.Bote === 'Amarillo',
                'green': i.Bote === 'Verde',
                'blue': i.Bote === 'Azul'
              }">
                <span><i class="fas fa-recycle"></i></span>
              </div>
              <div class="extra__slides__product__img">
                <img src="{{url}}/items/{{i.Img}}" alt="">
              </div>
              <div class="extra__slides__product__subtitle">
                <p>{{i.Tipo}}</p>
                <h2>{{ i.Producto }}</h2>
              </div>
            </ion-card>
          </ion-col>
        </ng-container>
        </ion-row>
      </ion-grid>
    </ng-container>
  </div>
</ion-content>
