<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="reciclate">
    <h1 class="reciclate__h1 ion-margin-start ion-margin-top">Reciclar</h1>
    <!-- <ion-slides pager="false" [options]="slide">
      <ion-slide>
        <div class="reciclate__card__item">
          <input type="radio" name="reciclate" id="todo" checked>
          <label for="todo">
            <img src="../../../assets/img/bottle.png" alt="">
            Todo
          </label>
        </div> 
      </ion-slide>
      <ion-slide>
        <div class="reciclate__card__item">
          <input type="radio" name="reciclate" id="bottle">
          <label for="bottle">
            <img src="../../../assets/img/bottle.png" alt="">
            Plastico
          </label>
        </div> 
      </ion-slide>
      <ion-slide>
        <div class="reciclate__card__item">
          <input type="radio" name="reciclate" id="can">
          <label for="can">
            <img src="../../../assets/img/can.png" alt="">
            Latas
          </label>
        </div> 
      </ion-slide>
      <ion-slide>
        <div class="reciclate__card__item">
          <input type="radio" name="reciclate" id="carton">
          <label for="carton">
            <img src="../../../assets/img/carton.png" alt="">
            Cartón
          </label>
        </div> 
      </ion-slide>
      <ion-slide>
        <div class="reciclate__card__item">
          <input type="radio" name="reciclate" id="paper">
          <label for="paper">
            <img src="../../../assets/img/papel.png" alt="">
            Papel
          </label>
        </div> 
      </ion-slide>
      <ion-slide>
        <div class="reciclate__card__item">
          <input type="radio" name="reciclate" id="tapa">
          <label for="tapa">
            <img src="../../../assets/img/tapa.png" alt="">
            Vidrio
          </label>
        </div> 
      </ion-slide>
    </ion-slides> -->
    
    <ng-container *ngIf="Products.length == 0">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col size="6" class="extra" *ngFor="let i of [1,1,1,1,1]">
            <ion-skeleton-text animated style="width: 100%; height: 153px;"></ion-skeleton-text>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
    <ng-container *ngIf="Products">
      <ion-grid class="ion-padding">
        <ion-row>
          <ion-col size="6" class="extra" *ngFor="let i of Products">
            <ion-card class="extra__slides__product animate__animated animate__fadeIn" [routerLink]="['/product', i.id]">
              <div class="extra__slides__product__circle" [ngClass]="{
                'yellow': i.Bote === 'Amarillo',
                'green': i.Bote === 'Verde',
                'blue': i.Bote === 'Azul'
              }">
                <span><i class="fas fa-recycle"></i></span>
              </div>
              <div class="extra__slides__product__img">
                <img src="{{url}}/items/{{i.Img}}" alt="">
              </div>
              <div class="extra__slides__product__subtitle">
                <p>{{i.Tipo}}</p>
                <h2>{{ i.Producto }}</h2>
              </div>
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ng-container>
  </div>
</ion-content>
