.fixed{
    position: fixed;
    top: 0;
}

.login{
    height: 100vh;
    &__top{
        height: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 40%;
        }
    }
    &__bottom{
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        button{
            width: 100%;
            border-radius: 2em;
            padding: 16px;
            color: #FFF;
            background-color: var(--ion-color-secondary);
            font-size: 12px;
        }
        a{
            color: var(--ion-color-secondary);
            font-size: 12px;
            margin-top: 16px;
        }
    }
}
ion-icon{
    color: #FFF;
    margin-right: 8px;
    font-size: 14px;
    vertical-align: middle;
}