<div class="ion-padding information">
  <p>Iconos</p>
  <h1>Información</h1>
  <div class="information__item">
    <div class="information__item__flex">
      <img src="../../../assets/img/danger.png" alt="">
    </div>
    <div class="information__item__description">
      <p>Icono Rojo</p>
      <small>Lugares contaminados</small>
    </div>
  </div>
  <div class="information__item">
    <div class="information__item__flex">
      <img src="../../../assets/img/danger-medium.png" alt="">
    </div>
    <div class="information__item__description">
      <p>Icono Naranja</p>
      <small>Lugares en peligro de contaminación</small>
    </div>
  </div>
  <div class="information__item">
    <div class="information__item__flex">
      <img src="../../../assets/img/marker-blue.png" alt="">
    </div>
    <div class="information__item__description">
      <p>Bote azul</p>
      <small>Botes para papel y cartón</small>
    </div>
  </div>
  <div class="information__item">
    <div class="information__item__flex">
      <img src="../../../assets/img/marker-yellow.png" alt="">
    </div>
    <div class="information__item__description">
      <p>Bote amarillo</p>
      <small>Botes para plásticos y latas</small>
    </div>
  </div>
  <div class="information__item">
    <div class="information__item__flex">
      <img src="../../../assets/img/marker-green.png" alt="">
    </div>
    <div class="information__item__description">
      <p>Bote verde</p>
      <small>Bote para vidrio</small>
    </div>
  </div>
</div>