p{
    margin: 0;
}

img{
    width: 20px;
}

.information{
    &__item{
        display: flex;
        &__flex{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &__description{
            p{
                font-weight: bold;
            }
            padding: 8px 8px 8px 16px;
        }
    }
}