<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="reciclate">
    <h1 class="reciclate__h1 ion-margin-start ion-margin-top">Reciclar</h1>
    <ion-slides pager="false" [options]="slide">
      <ion-slide>
        <ion-card class="reciclate__card" routerLink="/product">
          <div class="reciclate__card__inner">
            <img src="../../../assets/img/bottle.png" alt="">
            <div class="reciclate__card__item">
              Botella
            </div>
          </div>    
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="reciclate__card" routerLink="/product">
          <div class="reciclate__card__inner">
            <img src="../../../assets/img/can.png" alt="">
            <div class="reciclate__card__item">
              Lata
            </div>
          </div>   
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="reciclate__card" routerLink="/product">
          <div class="reciclate__card__inner">
            <img src="../../../assets/img/carton.png" alt="">
            <div class="reciclate__card__item">
              Cartón
            </div>
          </div>   </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="reciclate__card" routerLink="/product">
          <div class="reciclate__card__inner">
            <img src="../../../assets/img/papel.png" alt="">
            <div class="reciclate__card__item">
              Papel
            </div>
          </div>   </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="reciclate__card" routerLink="/product">
          <div class="reciclate__card__inner">
            <img src="../../../assets/img/tapa.png" alt="">
            <div class="reciclate__card__item">
              Taparrosca
            </div>
          </div>   </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="alert ion-padding-horizontal ion-margin-vertical">
    <ion-card class="bottle" routerLink="/covid">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <div class="bottle__icon">
              <ion-icon name="warning"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="10">
            <div class="bottle__description">
              <span>
                Información sanitaria
              </span>
              <p>Conoce los cambios sobre el coronavirus para cuidarte.</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  <div class="deshecha ion-margin-top">
    <h1 class="deshecha__h1 ion-margin-start ion-margin-top">Deshecha</h1>
    <ion-slides pager="false" class="deshecha__slides" [options]="slide">
      <ion-slide>
        <ion-card class="deshecha__slides__bottle" routerLink="/bottle/1">
          <div class="deshecha__slides__bottle__circle">
            <span class="deshecha__slides__bottle__circle__icon">
              <i class="fal fa-wine-bottle"></i>
            </span>
          </div>
          <div class="deshecha__slides__bottle__description">
            <p>Bote</p>
            <p>Amarillo</p>
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="deshecha__slides__bottle" routerLink="/bottle/2">
          <div class="deshecha__slides__bottle__circle">
            <span  class="deshecha__slides__bottle__circle__icon">
              <i class="fal fa-scroll"></i>
            </span>
          </div>
          <div class="deshecha__slides__bottle__description">
            <p>Bote</p>
            <p>Azul</p>
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="deshecha__slides__bottle" routerLink="/bottle/3">
          <div class="deshecha__slides__bottle__circle">
            <span  class="deshecha__slides__bottle__circle__icon">
              <i class="fal fa-fragile"></i>
            </span>
          </div>
          <div class="deshecha__slides__bottle__description">
            <p>Bote</p>
            <p>Verde</p>
          </div>
        </ion-card>
      </ion-slide>
    </ion-slides>
  </div>
  <div class="extra ion-margin-top">
    <h1 class="extra__h1 ion-margin-start ion-margin-top">Común</h1>
    <ion-slides pager="false" class="extra__slides" [options]="slide">
      <ion-slide>
        <ion-card class="extra__slides__product" routerLink="/product">
          <div class="extra__slides__product__circle yellow">
            <span><i class="fas fa-recycle"></i></span>
          </div>
          <div class="extra__slides__product__img">
            <img src="../../../assets/img/botella.png" alt="">
          </div>
          <div class="extra__slides__product__subtitle">
            <p>Plastico</p>
            <h2>Botella</h2>
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="extra__slides__product" routerLink="/product">
          <div class="extra__slides__product__circle blue">
            <span><i class="fas fa-recycle"></i></span>
          </div>
          <div class="extra__slides__product__img">
            <img src="../../../assets/img/caja.png" alt="">
          </div>
          <div class="extra__slides__product__subtitle">
            <p>Carton</p>
            <h2>Caja</h2>
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="extra__slides__product" routerLink="/product">
          <div class="extra__slides__product__circle green">
            <span><i class="fas fa-recycle"></i></span>
          </div>
          <div class="extra__slides__product__img">
            <img src="../../../assets/img/cocavidrio.png" alt="">
          </div>
          <div class="extra__slides__product__subtitle">
            <p>Vidrio</p>
            <h2>Envase</h2>
          </div>
        </ion-card>
      </ion-slide>
<!--        
        <ion-slide>
        <ion-card class="extra__slides__product" routerLink="/product">
          <div class="extra__slides__product__circle">
            <span><i class="fas fa-recycle"></i></span>
          </div>
          <div class="extra__slides__product__img">
            <img src="../../../assets/img/coca.png" alt="">
          </div>
          <div class="extra__slides__product__subtitle">
            <p>Aluminio</p>
            <h2>Lata</h2>
          </div>
        </ion-card>
      </ion-slide> -->
    </ion-slides>
  </div>
</ion-content>
