<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="reciclate">
    <h1 class="reciclate__h1 ion-margin-start ion-margin-top">Reciclar</h1>
    <ion-slides pager="false" [options]="slide">

      <ion-slide *ngFor="let i of Types">
        <ion-card class="reciclate__card animate__animated animate__fadeIn" routerLink="/product/1">
          <div class="reciclate__card__inner">
            <img src="{{url}}/icons/{{i.img}}" alt="">
            <div class="reciclate__card__item">
              {{ i.nombre }}
            </div>
          </div>    
        </ion-card>
      </ion-slide>
     
      <ng-container *ngIf="Types.length == 0">
        <ion-slide *ngFor="let i of [1,1,1]">
          <ion-skeleton-text style="width: 75px" animated></ion-skeleton-text>
        </ion-slide>
      </ng-container>

    </ion-slides>
  </div>
  <div class="alert ion-padding-horizontal ion-margin-vertical">
    <ion-card class="bottle" routerLink="/covid">
      <ion-grid>
        <ion-row>
          <ion-col size="2">
            <div class="bottle__icon">
              <ion-icon name="warning"></ion-icon>
            </div>
          </ion-col>
          <ion-col size="10">
            <div class="bottle__description">
              <span>
                Información sanitaria
              </span>
              <p>Conoce los cambios sobre el coronavirus para cuidarte.</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </div>
  <div class="deshecha ion-margin-top">
    <h1 class="deshecha__h1 ion-margin-start ion-margin-top">Deshecha</h1>
    <ion-slides pager="false" class="deshecha__slides" [options]="slide">
      <ion-slide>
        <ion-card class="deshecha__slides__bottle" routerLink="/bottle/1">
          <div class="deshecha__slides__bottle__circle">
            <span class="deshecha__slides__bottle__circle__icon">
              <i class="fal fa-wine-bottle"></i>
            </span>
          </div>
          <div class="deshecha__slides__bottle__description">
            <p>Bote</p>
            <p>Amarillo</p>
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="deshecha__slides__bottle" routerLink="/bottle/2">
          <div class="deshecha__slides__bottle__circle">
            <span  class="deshecha__slides__bottle__circle__icon">
              <i class="fal fa-scroll"></i>
            </span>
          </div>
          <div class="deshecha__slides__bottle__description">
            <p>Bote</p>
            <p>Azul</p>
          </div>
        </ion-card>
      </ion-slide>
      <ion-slide>
        <ion-card class="deshecha__slides__bottle" routerLink="/bottle/3">
          <div class="deshecha__slides__bottle__circle">
            <span  class="deshecha__slides__bottle__circle__icon">
              <i class="fal fa-fragile"></i>
            </span>
          </div>
          <div class="deshecha__slides__bottle__description">
            <p>Bote</p>
            <p>Verde</p>
          </div>
        </ion-card> 
      </ion-slide>
    </ion-slides>
  </div>
  <div class="extra ion-margin-top">
    <h1 class="extra__h1 ion-margin-start ion-margin-top">Común</h1>
    <ion-slides pager="false" class="extra__slides" [options]="slide">

      <ion-slide *ngFor="let i of Products">
        <ion-card class="extra__slides__product animate__animated animate__fadeIn" [routerLink]="['/product/', i.id]">
          <div class="extra__slides__product__circle"
              [ngClass]="{
                  'yellow': i.Bote === 'Amarillo',
                  'blue': i.Bote === 'Azul',
                  'green': i.Bote === 'Verde'
                }">
            <span><i class="fas fa-recycle"></i></span>
          </div>
          <div class="extra__slides__product__img">
            <img src="{{url}}/items/{{i.Img}}" alt="">
          </div>
          <div class="extra__slides__product__subtitle">
            <p>{{ i.Tipo }}</p>
            <h2>{{ i.Producto }}</h2>
          </div>
        </ion-card>
      </ion-slide>

      <ng-container *ngIf="Types.length == 0">
        <ion-slide *ngFor="let i of [1,1]">
          <ion-skeleton-text style="width:118px; height:153px" animated></ion-skeleton-text>
        </ion-slide>
      </ng-container>
    </ion-slides>
  </div>
</ion-content>
