<ion-app>
  <!-- <ion-router-outlet></ion-router-outlet> -->
  <ion-split-pane contentId="menu-content" when="xs" [disabled]="true" (ionSplitPaneVisible)="onSplitPaneVisible(event)">
    <ion-menu contentId="menu-content" menuId="menu-content" side="end" type="overlay">
      <ion-header >
        <ion-toolbar>
          <ion-title>Cuenta</ion-title>

          <ion-buttons slot="end">
            <ion-button (click)="exit()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar> 
      </ion-header>
      <ion-content>
        <div class="ion-padding">
          <ion-avatar>
            <img src="../../../assets/img/avatar.jpg" alt="">
          </ion-avatar>
          <h1 class="ion-margin-top">{{ name }}</h1>
          <p class="ion-no-margin">{{ email }}</p>
        </div>
        <ion-list>
          <ion-item lines="full">
            <ion-label>
              <i class="fas fa-coins coin"></i> <span class="points">0 Puntos</span>
            </ion-label>
          </ion-item>
          <ion-item lines="full" (click)="logout()">Cerrar Sesión</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content" mode="ios"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
