<ion-app>
  <!-- <ion-router-outlet mode="ios"></ion-router-outlet> -->
  <ion-split-pane contentId="menu-content" when="xs" [disabled]="true" (ionSplitPaneVisible)="onSplitPaneVisible(event)">
    <ion-menu contentId="menu-content" menuId="menu-content" side="end" type="overlay">
      <ion-header >
        <ion-toolbar>
          <ion-title>Cuenta</ion-title>

          <ion-buttons slot="end">
            <ion-button (click)="exit()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="ion-padding">
          <ion-avatar>
            <img src="https://www.facebook.com/photo?fbid=2773072476112974&set=a.102134959873419" alt="">
          </ion-avatar>
          <h1 class="ion-margin-top">{{nombre}}</h1>
          <p class="ion-no-margin">{{gmail}}</p>
        </div>
        <ion-list>
          <ion-item lines="full">Configuración</ion-item>
          <ion-item lines="full" (click)="logout()">Cerrar Sesión</ion-item>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="menu-content" mode="ios"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
