<!-- <ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/menu/home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->

<ion-content class="ion-padding">
  <div class="back ion-margin-bottom">
    <button class="back__button ion-margin-bottom" (click)="navCtrl.back()">
      <ion-icon name="chevron-back"></ion-icon>
    </button>
    <p>Tipos de</p>
    <h1>Botes</h1>
  </div>
  <ion-card class="bottle" [ngClass]="{'bottle--yellow': content == 1, 'bottle--blue': content == 2, 'bottle--green': content == 3}">
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <div class="bottle__icon"  [ngClass]="{'bottle__icon--yellow': content == 1, 'bottle__icon--blue': content == 2, 'bottle__icon--green': content == 3}">
            <ion-icon name="trash"></ion-icon>
          </div>
        </ion-col>
        <ion-col size="10">
          <div class="bottle__description">
            <h3>
              <ng-container *ngIf="content == 1">Bote Amarillo</ng-container>
              <ng-container *ngIf="content == 2">Bote Azul</ng-container>
              <ng-container *ngIf="content == 3">Bote Verde</ng-container>
            </h3>
            <p>Papel y carton</p>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
  <div class="buttons">
    <span class="buttons__item">
      <input type="radio" id="information" name="information" checked>
      <label  class="buttons__custom active" (click)="state(1)" for="information">Información</label>
    </span>
    <span class="buttons__item">
      <input type="radio" id="articulos" name="information">
      <label class="buttons__custom active" (click)="state(0)" for="articulos">Articulos</label>
    </span>
    <!-- <button class="buttons__custom active" (click)="state(1)">Información</button>
    <button class="buttons__custom" (click)="state(0)">Articulos</button> -->
  </div>
  <ng-container *ngIf="informacion">
    <div class="animate__animated animate__fadeIn">
      <div class="information">
        <h1 class="information__h1">Información</h1>
        <p>En los contenedores amarillos se deben depositar todo tipo de envases y productos fabricados con plásticos como botellas, envases de alimentación o bolsas.</p>
      </div>
      <div class="information">
        <h1 class="information__h1">¿Sabias que?</h1>
        <p>88 latas de refresco es equivalente a una llanta de bicicleta. ¿Que prefieres? ¿Tirar latas y contaminar? ¿O usar tu bicicleta?</p>
      </div>
      <ion-card class="bottle--do ion-margin-top">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <div class="bottle__icon">
                <ion-icon name="checkmark-outline"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="10">
              <div class="bottle__description">
                <h3>Deposita</h3>
                <p>Botellas y envases de plástico, envases metálicos, Briks.</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
      <ion-card class="bottle--dont ion-margin-top">
        <ion-grid>
          <ion-row>
            <ion-col size="2">
              <div class="bottle__icon">
                <ion-icon name="close-outline"></ion-icon>
              </div>
            </ion-col>
            <ion-col size="10">
              <div class="bottle__description">
                <h3>No deposites</h3>
                <p>Juguetes de plástico, biberonas y chupetes, utensilios de cocina, cubos de plástico.</p>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>
    </div>
    
  </ng-container>
  <ng-container *ngIf="!informacion">
    <div class="animate__animated animate__fadeIn">
    <div class="information">
      <h1>Articulos</h1>
    </div>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="extra">
          <ion-card class="extra__slides__product" routerLink="/product">
            <div class="extra__slides__product__circle yellow">
              <span><i class="fas fa-recycle"></i></span>
            </div>
            <div class="extra__slides__product__img">
              <img src="../../../assets/img/popote.png" alt="">
            </div>
            <div class="extra__slides__product__subtitle">
              <p>Plastico</p>
              <h2>Popote</h2>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="extra">
          <ion-card class="extra__slides__product" routerLink="/product">
            <div class="extra__slides__product__circle yellow">
              <span><i class="fas fa-recycle"></i></span>
            </div>
            <div class="extra__slides__product__img">
              <img src="../../../assets/img/coca.png" alt="">
            </div>
            <div class="extra__slides__product__subtitle">
              <p>Aluminio</p>
              <h2>Lata</h2>
            </div>
          </ion-card>
        </ion-col>
        <ion-col size="6" class="extra">
          <ion-card class="extra__slides__product" routerLink="/product">
            <div class="extra__slides__product__circle yellow">
              <span><i class="fas fa-recycle"></i></span>
            </div>
            <div class="extra__slides__product__img">
              <img src="../../../assets/img/botella.png" alt="">
            </div>
            <div class="extra__slides__product__subtitle">
              <p>Plastico</p>
              <h2>Botella</h2>
            </div>
          </ion-card>
        </ion-col>
        
      </ion-row>
    </ion-grid>
  </div>
  </ng-container>
</ion-content>
