<ion-header>
  <ion-toolbar>
    <ion-title>
      <span>eco</span>
      <span>Ciudad</span>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="ubication">
      <ion-icon name="navigate"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="reciclate">
      <ion-icon name="trash-bin"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="profile">
      <ion-icon name="stats-chart"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>