<ion-header>
  <ion-toolbar>
    <ion-title>
      <span>eco</span>
      <span>Ciudad</span>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button>
        <ion-avatar>
          <img src="https://assets.soyfutbol.com/__export/1601054527995/sites/debate/img/2020/09/25/jam_m_125257_x1x_crop1601054525708.jpg_943222218.jpg" alt="">
        </ion-avatar>
       
      </ion-menu-button> 
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="ubication">
      <ion-icon name="navigate"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="reciclate">
      <ion-icon name="trash-bin"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="game-list">
      <ion-icon name="game-controller"></ion-icon>
    </ion-tab-button>

    <!-- <ion-tab-button tab="profile">
      <ion-icon name="stats-chart"></ion-icon>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>