<ion-header mode="ios">
  <ion-toolbar>
    <ion-title>ecoFlappy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="gamecontainer">   
    <div id="gamescreen">      
      <div id="sky" class="animated">
        <div id="flyarea">
          <div id="ceiling" class="animated"></div>
          <!-- This is the flying and pipe area container -->
          <div id="player" class="bird animated"></div>

          <div id="bigscore"></div>

          <div id="splash"></div>

          <div id="scoreboard">
            <div id="medal"></div>
            <div id="currentscore"></div>
            <div id="highscore"></div>
            <button class="back" (click)="juegos()">
              <ion-icon name="close-outline"></ion-icon>
              </button>
            <div id="replay"><img src="../../../assets/game/replay.png" alt="replay"></div>
            
          </div>
        </div>
      </div>
      <div id="land" class="animated">
        <div id="debug"></div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer>
  <div class="boundingbox" id="playerbox"></div>
  <div class="boundingbox" id="pipebox"></div>
</ion-footer>

